@import url('https://fonts.googleapis.com/css?family=Righteous');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Righteous', cursive;
}

body{
    background-color: rgb(50, 59, 87);
}
header{
    padding: 20px 0;
    text-align: center;
    background-color: #fff;
}
header>h1{
    font-size: 3rem;
}

.info{
    height: 100px;
    width: 300px;
    margin: 0 auto;
    margin-top: 50px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 20px;
    position: relative;
}

.budget{
    position: absolute;
    background-color: rgb(251, 255, 0);
    border-radius: 2px;
    padding: 2px;
    font-size: 1.5rem;
    top: 30px;
}

#player_budget{
    left: -40px;
}
#ai_budget{
    right: -18px;
}

.score{
    width: 100%;
    margin: 0 auto;
    margin-top: 7px;
    text-align: center;
    font-size: 2rem;
    color: #fff
}
p.alert{
    text-align: center;
    margin: 50px 200px;
    font-size: 2rem;
    background-color: #fff;
}

.playground{
    margin: 0 auto;
    text-align: center;
}

.playground>.icons{
    display: inline-block;
    border: 2px solid rgb(136, 136, 136);
    border-radius: 100%;
    margin: 5px;
    padding: 30px;
    transition: all 0.1s ease-in-out;
}
.playground>.icons:hover{
    cursor: pointer;
    border: 2px solid rgb(196, 196, 196);
}
.playground>.icons>img{
    height: 150px;
    width: 150px;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    color: rgb(251, 255, 0);
}

.win{
    /* background-color: rgb(43, 255, 0); */
    /* border-color: rgb(43, 255, 0); */
    box-shadow: 0 0 40px 10px rgb(43, 255, 0);
    transition: all 0.8s ease-in-out;
}
.lost{
    box-shadow: 0 0 40px 10px rgb(255, 0, 0);
    transition: all 0.8s ease-in-out;
}
.draw{
    box-shadow: 0 0 40px 10px rgb(177, 177, 177);
    transition: all 0.8s ease-in-out;
}